body{
  background-color: #DAE5D0;
}
hr{
  color: grey;
  border-style: dotted none none  ;
  border-width: 3px;
  width: 5%;
}
img{
  height: 200px;
}
h3{
  color: #66BFBF;
}
h2{
  color: blue;
}
